body {
  background-color: #eee;
  margin: 0 auto;
  min-height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  display: flex;
}

header {
  border-bottom: 1px solid #666;
}

h1 {
  flex: 1;
  font-size: 1.5rem;
  font-weight: normal;
  margin-left: 2rem;
  display: inline-block;
}

nav {
  margin: 0 2rem 0 0;
}

nav ul {
  height: 100%;
  list-style-type: none;
  margin: 0 2rem 0 2rem;
  display: flex;
}

.nav-item {
  flex: 1;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.nav-item a {
  background-color: #ddd;
  border-radius: 0.5rem;
  padding: 1rem;
  text-decoration: none;
  color: hsl(0, 30%, 40%);
  font-weight: bold;
}

.nav-item a:hover {
  background-color: #ccc;
  color: hsl(0, 60%, 50%);
}

main {
  margin: 1rem;
}

article {

}

span[data-aside] + p {
  margin: 0;
  display: inline;
}

span[data-aside] + p::after {
  content: '*';
}

aside {
  font-size: 12px;
  float: right;
  border: 1px solid #666;
  max-width: 10%;
  padding: 0.25rem;
}

aside::before {
  content: '*';
}

footer aside {
  max-width: unset;
}

footer {
  border-top: 1px solid #666;
  padding: 0.5rem;
  font-size: 0.95rem;
}

footer address {
  display: inline-block;
}

footer address::before {
  content: "ian";
}

footer address::after {
  content: "fofgof.xyz";
}
